.container{
    background-color:rgb(75, 70, 70);
    text-align: center;
    height: 50vh;
    width: 30vw;
    margin-left: 30rem;
    border-radius: 20px;
    color: white;
}

.btn button{
    border-radius: 50%;
    color: white;
    background-color: black;
}
.submit button{
    margin-top: 2rem;
    color: white;
    background-color: gold;
    border-radius: 10px;
}
.modal-content{
    background-color:rgb(122, 118, 118);
    text-align: center;
    border-radius: 20px;
    height: 50vh;
    width: 30vw;
}
body{
    background-color: black;
}
.modal-content button{
    color: orange;
    background-color: black;
}